#contact{
    background-image: url(https://res.cloudinary.com/dbzgljncp/image/upload/v1683818526/Adobe_Express_20230429_1948000.5961287360236089_pzzxcc_d3ue7m.gif);

    text-align: center;
    color: white;
}